In [ ]:
#just print the number 
num1=1
num2=2
num3=3
print("Num1:",num1,type(num1))

In [ ]:
#float data type
small_float=-0.001  
exp_float=1.5e2
print("small_float",small_float,type(small_float)) 
print("exp_float",exp_float,type(exp_float))

In [ ]:
#ways of writtting strings
greeting="hello world"
multiline_text="""this is multiline text
hmmmmmmmm..... reallly you are genius"""
print("greeeting",greeting,type(greeting))
print("multiline comments",multiline_text,type(multiline_text))

In [ ]:
#combataination
first_name="johnaay"
last_name="jani"
name=first_name + " "+last_name
print(name)

In [ ]:
#mutiple time sprinting the words
ha="you can do it \n"*5
print(ha)

In [ ]:
#call a character in a srirng
my_name ="Kainat Babar"
count=len(my_name)#this is used to check he length of string
first_char=my_name[0]
full_name=my_name[0:12]
print(first_char, full_name,count)

In [ ]:
#casting:If you want to specify the data type of a variable, this can be done with casting.
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

In [ ]:
print(first_char+" "+full_name)

In [ ]:
#f type of string
age=19
print("my age is",(age))
age=19
print(f"my age is",(age),"\nwhat is your age?\ni think your age is also",(age))

In [ ]:
print("good luck")

In [ ]:
#boolen type of data
is_python_easy=True
if is_python_easy:
   print("your condition is true",type(is_python_easy))#here we check the type of bool veriable
elif not is_python_easy:
   print("your statement does not excicute ")

In [ ]:
is_python_easy = False

if is_python_easy:
    print("Your condition is true")
elif not is_python_easy:  # Check if it's False
    print("Your statement does not execute",type(is_python_easy))

In [ ]:
#none type 
not_know=None
print("this is none type",type(not_know))

In [ ]:
if not_know is None:
    print("nothing is here")

In [ ]:
not_know=2
if not_know is None:
    print("nothing is here")
else:
    print("something is here ",not_know)

In [ ]:
#list is a collection of data we can add and change data in ameutable list
empty_list=[]
list_1=[10,20,30,40]
mixed_list=[10,"you",50.5,True]#list can have all type of data
print(empty_list,list_1,mixed_list)

In [ ]:
print(list_1[0])#from left to right it start from 0 
print(list_1[-2])#from right to left ot start from -1
print(list_1[2])
print(mixed_list[-3])
print(mixed_list[0])
print(mixed_list[-2])
print(mixed_list[-1])

In [ ]:
#list are muteable that means we can change the element of the list
list_1.append(50)#it will add an element
print(list_1)
list_1.insert(2,5)#insert element at specific position in the list
print(list_1)
list_1.pop(2)#Removes and returns an element from the list at the given index. If no index is specified, it removes and returns the last element.
print(list_1)
list_1.remove(50)#remove the element from the list
print(list_1)
list_1[1]=25
print(list_1)

In [ ]:
#tuple maintain the order of element
#tuple is immutable you can't cange the element
empty_tuple=()
one_element=(45)
more_elements=(45,56,70,99,46)
print(empty_tuple)
print(one_element)
print(more_elements)

In [ ]:

first_ele=more_elements[0]
print(first_ele)
#slicing
print(more_elements[0:])

In [ ]:
try:
    more_elements[2]=89#because it is tuple so we can't change the element in the tuple
except TypeError as e:
    print("error:",e)

In [ ]:
try:
    one_element[0]=70
except TypeError as e:
    print("Error:",e)

In [ ]:
differ_tuple=("Good",15,56)
your_name,your_mode,your_weight=differ_tuple
print(f"your name{your_name}your mode{your_mode}your_weight{your_weight}")

In [ ]:
#operator in python
#assignment operator
x=3
x*=4
print(x)

In [ ]:
#Arthmatic operator
a,b=10,3
print("addition",a+b)
print("subtration",a-b)
print("multiplycation",a*b)
print("Division",a/b)
print("floor division",a//b)
print("exponentional",a**b)
print("modulous",a%b)

In [ ]:
#comperision operator
x,y=5,10
print("x>y=",x>y)
print("x<y=",x<y)
print("x==y=",x==y)
print("x<=y=",x<=y)
print("x>=y=",x>=y)
print("x!=y=",x!=y)

In [ ]:
#logical operator
a,b,c=True,False,True
print("a and b and c:",a and b and c)
print("a or b or c:",a or b or c)
print("not a=", not a)

In [ ]:
#here we solve some problems related to logical operators in python
age=int(input("enter your age:"))
marks=float(input("entre your marks:"))
if age>=16 and marks>=60:
    print("you are eligible for admission")
else:
    print("you are noit eligible")

In [ ]:
#problem 2
age = int(input("Enter your age: "))

if not age >= 18:
    print("You are not eligible to vote.")
else:
    print("You are eligible to vote.")

In [ ]:

#problem 3
password=input("enter password")
if len(password)>=8 or "@" in password:
    print("your password is correct")
elif len(password)>=8 and "@" in password:  
    print("your password is correct")
else :
    print("your password is incorrect")

In [ ]:
#match statement
http_status = 404

match http_status:
    case 200:
        print("OK")
    case 404:
        print("Not Found")
    case 500:
        print("Server Error")
    case _:
        print("Unknown status")

In [ ]:
#match statemnet 
def check_num(x):
    match x:
        case 1 | 3 | 5:
            print("Odd number")
        case 2 | 4 | 6:
            print("Even number")
        case _:
            print("Other number")

check_num(3)  # Output: Odd number

In [ ]:
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print(" weekends!")

In [ ]:
#dictionaries:Dictionaries are used to store data values in key:value pairs.
#to whomw value is assigned is "key"
#keys cannot be duplicate
#vlaues can be duplicate
thisDict={"name":"Kainat","study":"graduation","age":16}
print(thisDict)
print(thisDict["name"])

In [ ]:
#duplicate values are not allowed
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue",45]#key can hold data of diffenet types
}

print(thisdict)

In [ ]:
#set are unordered ,duplicte vlues are not allowed
#once a set is created we can't change the member of a set
thisset = {"apple", "banana", "cherry", True, 1, 2}#here true and one are considered as same 

print(thisset)
thisset = {"apple", "banana", "cherry", False, True, 0}#in the same way 0 and false are considered same

print(thisset)

In [ ]:
#for loop
numbers=[1,2,3,4,5,6] #first form a list
for num in numbers: #then asssign numbers to num
  print(num) #print all the numbers by running loop

In [ ]:
fruits=['apple','banana','charry']#it is a list
for index , fruit in enumerate(fruits):#enumerate show the index 
 print(f"index:{index}:{fruit}")#f avoid concatination

In [ ]:
fruits=['apple','banana','charry']
index=0
for index , fruit in enumerate(fruits):
  print(f"index {index}:{fruit}")
  index +=1

In [ ]:
#for loop for dictionary iterating over a dictionary
person={
    'Name':'Kainat',
    'Age' :19,
    'City':'lahore'

}
for key in person:
    print(f"{key}:{person[key]}")

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed = [1, "hello", 3.14, True]

# Lists are mutable (can be changed)
fruits[1] = "blueberry"  # Change item at index 1
fruits.append("orange")  # Add new item
fruits.remove(fruits[1])   # Remove item
fruits.remove("cherry")  # Remove item

print(fruits)  # Output: ['blueberry', 'cherry', 'orange']

# Ordered - maintains insertion order
print(numbers[0])  # Output: 1 (first item)
print(numbers[-1]) # Output: 5 (last item)
print(fruits[1])
# Can contain duplicates
duplicates = [1, 2, 2, 3, 3, 3]

In [74]:
fruits = ["apple", "banana", "cherry", "orange"]

print(fruits[0])  # Output: "apple" (1st element)
print(fruits[1])  # Output: "banana" (2nd element)
print(fruits[2])  # Output: "cherry" (3rd element)
print(fruits[3])  # Output: "orange" (4th element)
print(fruits)

apple
banana
cherry
orange
['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits1=['apple','banana','charrry','graps']#list with index for loop using enumerate
for index,fruit in enumerate(fruits):
    print(f"index {index}: {fruit}")

In [ ]:
fruits=['apple','charry','banana','graps']#iteration in dictionary using for loop
index=0
for fruit in fruits:
    print(f"index {index}:{fruit}")
    index +=1

In [ ]:
person1={ 'name':'alice',
         'age':23,
         "class":"mfail"}    {person1[key]}
for key , values in person1:
    print(f" {key} :{values}")#person1[key]this will assign value

ValueError: too many values to unpack (expected 2)

In [ ]:
for key,value in person1.items():#for loop for iteration in dictionary Use items() when you want to access and iterate through both keys and values of a dictionary.
    print(f"{key} : {value}")

In [ ]:
pyaz=('cool','phool','kali')#this is for loop for tuple
for piz in pyaz:
    print(piz)

In [ ]:
#it is while loop
count=0
while count<5:
    print("count is ",count)
    count +=1

In [ ]:
for i in range(1,10):
    if i==3:
        print("this is 3")
        continue #continue skips the rest of the current loop iteration and goes to the next iteration.
    if i==8:
        print("this is 8")
        break #break exits the loop entirely.
    else:
        print("the end")

In [ ]:
traffic_light ="red"
if traffic_light=="green":
    print("you can go")
elif traffic_light=="yelllow":
    print("are you ready")

else:
    print("you can't go")

In [ ]:
pedestrain = "walk"
if pedestrain=="walk" and pedestrain!=" flashing":
    print("you can go")
else:
    print("you should stop")

In [ ]:
#print function
print("you are nice")

In [ ]:
#input function
name=input("enter your name")
print(name)

In [ ]:
num=3
print(type(num))
name2="ayesha"
print(type(name2))

In [ ]:
word="python"
print(len(word))

In [ ]:
price=[1,2,3,4,5]
highest_price=max(price)
print("the highest price is",highest_price)

In [ ]:
#sorted function arrange all the elements in assending order
rating=[23.4,45.5,56.7,2.3]
sorted_rating=sorted(rating)
print("the sorted rating is ",sorted_rating)

In [ ]:
for i in range(5):
    print("dish ",i+1 ,"is ready")

In [ ]:
#it will print the memory adress
x=42
print("the memory adderes of variable is",id(x))

In [ ]:
expresion="2+3*8"
result=eval(expresion)#eval function just perform  evaluation
print("the result of expression id",result)

In [ ]:
def add(num1,num2):
    #function for addition of two numbers
    print("number 1 is",num1)
    print("number 2 is",num2)
    addition=num1+num2
    return addition
result=add(2,4)
print("the sum of two numbers are",result)

In [ ]:
#default functions take values as default even if we does not give value to the varablre while definig parameters
def defname(fname,mname="harry",hname="goody"):
    print(fname,mname,hname)
defname("nabeel")

In [ ]:
#keyword dunction
def defname(fname,mname,hname):
    print(fname,mname,hname)
defname("nabeel","harry","goody")

In [ ]:
def student_details(name, roll_no, grade):
    print("Student:", name, "| Roll No:", roll_no, "| Grade:", grade)

student_details("Bilal", 234, "A+")

In [ ]:
#function with *agr(tuple of arrguments)
def  defname(*names):
    print("hello",names[1],names[0],names[2])
defname("herry","goody","nabeel")

In [ ]:
#function returing a full name
def defname(fname,mname,hname):
    return "hello " + fname+" "+mname+" "+hname
print(defname("nabeel","harry","goody"))

In [ ]:
# defining a local and a global variable

x = 5  # global variable

def myfunction():
    y = 10  # local variable
    print(f'inside the function x = {x}')
    print(f'inside the function y = {y}')

myfunction()
print(f'outside the function x = {x}')
# print(f'outside the function y = {y}')  # This will cause an error because y is local to the function

In [ ]:
#let's solve some ;problems
#Swap Values Without a Temporary Variable
a=3
b=4
b,a=a,b
print( a,b)

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()

longest_word = max(words)
print(f"Longest word: {longest_word}")
print(f"Length: {len(longest_word)}")

In [ ]:
num = int(input("Enter a number: "))

if num % 3 == 0 and num % 5 == 0:
    print("FizzBuzz")
elif num % 3 == 0:
    print("Fizz")
elif num % 5 == 0:
    print("Buzz")
else:
    print(num)

In [ ]:
#for odd numbers
nums = [int(input(f"Enter number {i+1}: ")) for i in range(3)]
nums.sort()
median = nums[1]
print(f"Median is: {median}")

In [ ]:
nums = [int(input(f"Enter number {i + 1}: ")) for i in range(10)]
nums.sort()

middle1 = len(nums)//2 - 1  # index 4 (5th element)
middle2 = len(nums)//2      # index 5 (6th element)

median = (nums[middle1] + nums[middle2]) / 2

print(f"Median is: {median}")

In [ ]:
#arrays in python
cars = ["Ford", "Volvo", "BMW"]

print(cars)

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

x = cars[0]

print(x)

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

x = len(cars)

print(x)

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

cars.pop(1)

print(cars)

In [ ]:
num = 8
for n in range(2, num):
    if num % n == 0:
        print(" not Prime Number")
        break
else:
    print(" prime")

In [ ]:
#problem 1 
name="alice"
age=23
hight=5.6
print(f'name:{name} age:{age} hight:{hight}')

In [ ]:
#probkem 2
counter=10
counter=20
counter=counter*2
print(counter)

In [ ]:
#problem 
num= int(input("enter a number:"))
for n in range(2,num):
    if num%n==0:
        print("your number is not prime")
        break
else:
    print("your number is  prime")

In [ ]:
#problem
def reverse_string(s):
    return s[::-1]
print(reverse_string("Hello"))

In [22]:
s="Yasir"
s[::-1]

'risaY'

In [ ]:
def is_prime(n):
    if n < 2: return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0: return False
    return True

print(is_prime(13))  # Output: True

In [ ]:
def is_prime(n):
    if n<2:return False
    for i in range(2,int(n**0.5 + 1)):
        if n%i ==0: return False
    return True
print(is_prime (int(input("enter a number"))))

In [ ]:
def fibonacci(n):
    if n <= 1: return n
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci (5))

In [ ]:
name = "Kainat"
nameshort = name[0:7]
print(nameshort)

In [ ]:
#negative slicing
name1= "kainat"
nameshort1 = name1[-6:-1]
print(nameshort1)

In [ ]:
#string functions
name = "kainatBabar"
print(len(name))
print(name.startswith("Kai"))
print(name.endswith("bar"))
print(name.capitalize())

In [ ]:
name.find("babar")

In [ ]:
#print a random number
import random
print("the random nuber is",random.randint(109028,1001111))

In [ ]:

# todo_list.py

# Initialize an empty list to store tasks
tasks = []

def add_task():
    task = input("Enter a task: ")
    tasks.append({"task": task, "completed": False})
    print("Task added!")

def view_tasks():
    print("Your Tasks:")
    for i, task in enumerate(tasks, start=1):
        status = "Completed" if task["completed"] else "Not Completed"
        print(f"{i}. {task['task']} - {status}")

def delete_task():
    task_number = int(input("Enter the task number to delete: ")) - 1
    if task_number >= 0 and task_number < len(tasks):
        del tasks[task_number]
        print("Task deleted!")
    else:
        print("Invalid task number.")

def mark_completed():
    task_number = int(input("Enter the task number to mark as completed: ")) - 1
    if task_number >= 0 and task_number < len(tasks):
        tasks[task_number]["completed"] = True
        print("Task marked as completed!")
    else:
        print("Invalid task number.")

def main():
    while True:
        print("1. Add Task")
        print("2. View Tasks")
        print("3. Delete Task")
        print("4. Mark Task as Completed")
        print("5. Quit")
        choice = input("Enter your choice: ")
        if choice == "1":
            add_task()
        elif choice == "2":
            view_tasks()
        elif choice == "3":
            delete_task()
        elif choice == "4":
            mark_completed()
        elif choice == "5":
            break
        else:
            print("Invalid choice. Please try again.")



if _name_ == "_main_":
    main()

In [7]:
name = input("enter your name")
print(f"Good afternoon {name}")

Good afternoon Kainat

In [11]:
letter= '''dear  name 
your are selected  
date'''
print(letter.replace("name","kainat").replace("date"," 7 november 2005"))

dear  kainat
your are selected
 7 november 2005

In [19]:
#find the index
name=" kainat is a good   girl"
print(name.find("goo"))
name=" kainat is a good girl"# return -1 when there is no double space
print(name.find("   "))

13
-1

In [20]:
#replce
name=" kainat is a good   girl"
print(name.replace("   "," "))

 kainat is a good girl

In [21]:
#strings are immutable so if i print the name it haas 3 spaces again
print(name)

 kainat is a good   girl

In [24]:
#escape character
letter = "dear kainat,\n you are good\n"
print(letter)

dear kainat,
 you are good

In [1]:
 
friend= ["apple","orange",2,3.3,False]
print(friend[0])
friend[0]='graps'#unlike strings list are immutale
print(friend[0])
print(friend[1:5])

apple
graps
['orange', 2, 3.3, False]

In [7]:
#methods in list

friend.append("harry") 
print(friend)

['graps', 'orange', 2, 3.3, False, 'harry', 'harry', 'harry', 'harry', 'harry']

In [12]:
friend.remove("harry")
print(friend)

['graps', 'orange', 2, 3.3, False]

In [14]:
num = [1,2,3,6,9,8]
num.sort()
print(num)

[1, 2, 3, 6, 8, 9]

In [17]:
num.reverse()
print(num)

[9, 8, 6, 3, 2, 1]

In [25]:
num.insert(3,3333333)
print(num)

[9, 8, 6, 3333333, 3333333, 3333333, 3, 2, 1]

In [26]:
num.remove(3333333)

In [37]:
same = [1,4,5,6]
same.pop(1)
print(same)

[1, 5, 6]

In [41]:
#tuple
#we cant change tuple
a=(1)#python consider it as an integer
b=(1,)#so we use comma
print(a,b)

1 (1,)

In [1]:
c =(1,2,3,5,1,False,"Rohan")
c.count(1)
print(c)
a=c.index(1)
print(a)
print(3 in c)

print(100 in c)

(1, 2, 3, 5, 1, False, 'Rohan')
0
True
False

In [2]:
l=[1,3,4,5]
print(sum(l))

13

In [4]:
a= (7,0,0,6,9)
n= a.count(0)
print(n)

2

In [103]:
#code with harry chapter 4
l1 =[ ]
f1 =int(input("enter a  number"))
l1.append(f1)
f2 =int(input("enter a marks number"))
l1.append(f2)
f3 =int(input("enter a marks number"))
l1.append(f3)
f4 =int(input("enter a marks number"))
l1.append(f4)
f5 =int(input("enter a marks number"))
l1.append(f5)
f6 =int(input("enter a marks number"))
l1.append(f6)
print(l1)

[1, 2, 2, 2, 23, 234]

In [104]:
a=(34,345,"harry")
#a[2] = "harry" it will give error

In [107]:
#chapter 5 dictionay and set
d= {}#empty dictionary
marks={
    "harrry":100,
    "nabeel":40,
    "umbrela":67, 

}
print(marks["nabeel"])

40

In [ ]:

person ={
    "name":"john",
    "age":23,
    "city":"new york"}
print(person)
person["name"]="kainat"
person["adress"]="Sailkot"
del person["city"]
print(person)

{'name': 'john', 'age': 23, 'city': 'new york'}
{'name': 'kainat', 'age': 23, 'adress': 'Sailkot'}

In [28]:
if "name" in person:
    print("this is present in dictionary")
else:
    print("not found")    
print(person.keys())

this is present in dictionary
dict_keys(['name', 'age', 'adress'])

In [109]:
#merged two dictionaries
person ={
    "name":"john",
    "age":23,
    "city":"new york"}
one={
    "name1":"Kianat",
    "age":89,
    "adress":20\
}
merged_dic = {**person,**one}
print(merged_dic)

{'name': 'john', 'age': 89, 'city': 'new york', 'name1': 'Kianat', 'adress': 20}

In [36]:
for key ,value in person.items():
    if key=="age":
      print(f"{key}:{value}")

age:23

In [115]:
person["adress"]="Sailkot"#add a new key
print(person)
person.update({"age":67})#for giving a new value
print(person)
print(person.get("age1"))#it will retuen none
#print(person["age1"])#it will give error
print(person.copy())
#print(person.clear())
print(person)
person.pop("age",0)

{'adress': 'Sailkot'}
{'adress': 'Sailkot', 'age': 67}
None
{'adress': 'Sailkot', 'age': 67}
{'adress': 'Sailkot', 'age': 67}

67

In [117]:
#set 
s={1,4,35,"kainat"}
e=set()#way to present an empty set
print(type(e))
print(s)

<class 'set'>
{1, 35, 4, 'kainat'}

In [ ]:
s.add(566)
s.add(4)
s.remove(4)
s.discazrd(6)#discard avoid arrror if the element is already not presend in the set
print(s

{1, 35, 566, 'kainat'}

In [71]:
s1={2,4,6,8,10}
s2={1,3,5,7,9,10}
print(s1.union(s2))
print(s1.intersection(s2))#first set is the super set of other if all elments of second sets are present in the first
print(s1.difference(s2))
print(s1.symmetric_difference(s1))#return the element that is not common in both sets
print(s1.issubset(s2))#idf all the element of first are present in second
print(s1.issuperset(s2))#idf all the element of first are present in second and all elements of second are presendt in first
#print(s1.clear(),s2.clear())

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{10}
{8, 2, 4, 6}
set()
False
False

In [73]:
s1.difference_update(s2)#it modifies s1 by removing all elements that are present in s2
print(s1)

{2, 4, 6, 8}

In [83]:
person1={ 'name':'alice',
         'age':23,   
         "class":"mfail"}    
for key , values in person1.items():
    print(f" {key} :{values}")#person1[key]this will assign value
for key in person1:
    print(f" {key} :{person1[key]}")#person1[key]this will assign value

 name :alice
 age :23
 class :mfail
 name :alice
 age :23
 class :mfail

In [86]:
words ={
    "madad":"help",
    "nazar":"eyes",
    "dua":"pyayers"
}
word = input("enter the wordd you want to print")
print(words[word])

pyayers

In [95]:
s2=set()
n =input("enter a number ")
s2.add(int(n))

n =input("enter a number ")
s2.add(int(n))
n =input("enter a number ")
s2.add(int(n))
n =input("enter a number ")
s2.add(int(n))
n =input("enter a number ")
s2.add(int(n))
n =input("enter a number ")
s2.add(int(n))
n =input("enter a number ")
s2.add(int(n))
n =input("enter a number ")
s2.add(int(n))
n =input("enter a number ")
s2.add(int(n))
n =input("enter a number ")
s2.add(int(n))
print(s2)

{2, 3, 4, 5, 6, 7, 8, 9, 67}

In [96]:
s = {16,"16"}
print(s)

{16, '16'}

In [ ]:
s= set()
s.add(18)
s.add("18")
print(s)

{18, '18'}

In [2]:
s= set()
s.add(20)
s.add("20")
print(len(s))

2

In [4]:
d={}
name = input("enter friend name")
lang = input("enter language name")
d.update({name :lang})
name = input("enter friend name")
lang = input("enter language name")
d.update({name :lang})
name = input("enter friend name")
lang = input("enter language name")
d.update({name :lang})
name = input("enter friend name")
lang = input("enter language name")
d.update({name :lang})
name = input("enter friend name")
lang = input("enter language name")
d.update({name :lang})
name = input("enter friend name")
lang = input("enter language name")
d.update({name :lang})
name = input("enter friend name")
lang = input("enter language name")
d.update({name :lang})
print(d)

{'kainat': 'python', 'amina': 'cpp', 'yasir': 'java', 'nabeel': 'Csss', 'kinata': 'python', 'sheeza': 'mal', 'aliza': 'C_++'}

In [ ]:
#conditional statement
a=int(input("enter your age"))
if(a>18):
    print("you are eligible")
elif(a<0):
    print("you are entering in valid number")    
else:
    print("not good for you")        
print("good" )

you are entering in valid number
good

In [1]:
s= set()
s.add(18)
s.add("18")
print(s)

{18, '18'}

In [ ]:
age = int(input("enter a age "))
if age >18 :
    print("yes")
else:
    print("no")

yes

In [3]:
marks1 = int(input("enter your marks"))
marks2 = int(input("enter your marks"))
marks3 = int(input("enter your marks"))
percentage_marks = (100*(marks1 + marks2+ marks3))/300
if percentage_marks >= 40 and marks1 >=33 and marks2 >= 33 and marks3>= 33:
    print("you are pass", percentage_marks)
elif percentage_marks < 33 :
    print("you are fail")
else:
    print("you inout wrong marks")

you are fail

In [7]:
C1 = "not good"
C2 = "money gaining"
C3 = " hack it hacking"
message =input("enter a message")
if ((C1 in message) or (C2 in message) or (C3 in message)):
    print("this is spam")
else:
    print("not spam")

this is spam

In [8]:
name = input("enter a name")
if len(name)>10:
    print("it is too long")
else :
    print("all right")

it is too long

In [11]:
N1 = ["kainat ","nabeeel","bilawal","yasir","amina"]
name = input("enter a name")
if name in N1:
    print("you have your name int he list")
else:
    print("your name is not in the list")

your name is not in the list

In [ ]:
post = input("enter the post:")
if("Kainat ".lower()in post.lower()):
    print("this is about kainat")
else:
    print("this is not about kainat")

this is about kaint

In [15]:
l=["kainat ",1,False,True,"good"]
i = 0
while (i < len(l)):
    print(l[i])
    i +=1

kainat
1
False
True
good

In [17]:
#step size
i=[]
for i in range(1,100,10):
    print(i)

1
11
21
31
41
51
61
71
81
91

In [19]:
s ="kainat"
for i in s:
    print(i)

k
a
i
n
a
t

In [20]:
#for loop with ekse
l = [1,2,3,4,5]
for item in l:
    print(item)
else:
    print("done")

1
2
3
4
5
done

In [22]:
#break is used to completely finish th eremaining loop
for i in range(100):
    if i== 25:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [23]:
#continue just skip tha specific iteration
for i in range(40):
    if i ==34:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
35
36
37
38
39

In [25]:
#pass we use it if we want to do nothing in for loop
for i in range(100):
    pass





for i in range(40):
    if i ==34:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
35
36
37
38
39

In [28]:
n = int(input("enter a number"))

for i in range(1,11):
    print(f"{n} x {i} = {n * i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [1]:
l = ["harry ","kaint","fatima","babar","yasir"]
for name in l:
    if(name.startswith("y")):
        print(f"hello {name}")

hello yasir

In [33]:
n = int(input("enter a number"))
i = 1
while(i<11):
    print(f"{n} x {i} = {n*i}")
    i += 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [37]:
n= int(input("enter anumber"))
for i in range(2,n):
    if(n%i)==0:
        print("number is not prime")
        break
else:
    print("number is prime")

number is not prime

In [46]:
n = int(input("enter a number"))
i=0
sum=0
while(i<=n):
    sum += i
    i+=1
print(sum)

55

In [50]:
#factorial
#5! = 1x2x3x4x5
n = int(input("enter a number"))
product = 1
for i in range(1,n+1):
    product = product*i

print(f"the factorial of{n} is {product}")

the factorial of3 is 6

In [54]:
n = int(input("enter a number"))
for i in range(1,n+1):
    print(" "* (n-i),end="")
    print("*"* (2*i-1),end="")
    print("")

     *
    ***
   *****
  *******
 *********
***********

In [ ]:
n = int(input("enter a number"))
for i in range(1,n+1):
    print("*"* (2*i-1),end="")
    print("")

*
***
*****

In [ ]:
size = int(input("enter a number"))

for i in range(size):
    for j in range(size):
        # print star at borders, else space
        if i == 0 or i == size-1 or j == 0 or j == size-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [62]:
n = int(input("enter a number"))
for i in range(1,n+1):
    if i==1 or i==n:
        print("*"*n,end="")
    else:
        print("*",end="")
        print(" "*(n-2),end="")
        print("*",end="")
    print("")

***
* *
***

In [1]:
n= int(input("ente ra number"))
for i in range(1,11):
    print(f"{n} x {11-i} = {n*(11-i)}")

3 x 10 = 30
3 x 9 = 27
3 x 8 = 24
3 x 7 = 21
3 x 6 = 18
3 x 5 = 15
3 x 4 = 12
3 x 3 = 9
3 x 2 = 6
3 x 1 = 3

In [2]:
#ffunctions
#function defination
def avg():
    a1=int(input("enter your number"))
    a2=int(input("enter your number"))
    a3=int(input("enter your number"))
    average = (a1 +a2 +a3)/3
    print(average)
#function call    
avg()    
avg()    
avg()    
avg()    
avg()    
avg()    
avg()

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#function with arguments
def greeting(name,greet):
    print("hello",name,end = " ")
    print(greet)
greeting("Kainat","thanks you")    
greeting("babar","thanks")    
greeting("ali","good")    
greeting("yasir","fine")

hello Kainat thanks you
hello babar thanks
hello ali good
hello yasir fine

In [ ]:
def greeting(name,greet):
    print("hello",name,end = " ")
    print(greet)
a = greeting("Kainat","thanks you") 
print(a)# it will give none becouse ther is nothing left after function

hello Kainat thanks you
None

In [71]:
def greeting(name,greet):
    print("hello",name,end = " ")
    print(greet)
    return "good"

a = greeting("Kainat","thanks you") 
print(a)#if i place return  it wil give a vlue to the variabke a

hello Kainat thanks you
good

In [72]:
def greeting(name,greet="thanks"):
    print("hello",name)
    print(greet)
greeting("Kainat","thanks you") 
greeting("Kainatoo",)

hello Kainat
thanks you
hello Kainatoo
thanks

In [5]:
#recursive funcion
'''
factorial(5) = 5x4x3x2x1
factorial(4) = 4x3x2x1
factorial(3) = 3x2x1
factorial(2) = 2x1
factorial(1) = 1
factorial(N) = n* factorial(n-1)
'''
def factorial(n):
    if(n==1 or n==0):
        return 1
    return n* factorial(n-1)

factorial(1)

1

In [8]:
def f_to_c(f):
    return 5*(f-32)/9
f = int(input("enter tem in farenhite"))
c =f_to_c(f)
print(round(c,2))

37.78

In [10]:
#sum of natural numbers we use reursive condition here
def sum(n):
    if(n==1):
        return 1
    return sum(n-1) +n
print(sum(4))

10

In [12]:
def pattern(n):
    if(n==0):
        return n
    print( "*"*n)
    pattern(n-1)
pattern(5)

*****
****
***
**
*

map: This function takes a function and a collection (like an array) and returns a new collection where each element is the result of applying the function to the corresponding element in the original collection. For example, mapping a "square" function over [1, 2, produces [1,. It transforms data by applying the function to each item.

filter: This function takes a predicate function (which returns true or false) and a collection and returns a new collection containing only those elements for which the predicate returns true. For example, filtering even numbers from  returns . It selects data based on conditions.

reduce: This function takes a binary function (like addition), a collection, and an initial accumulator value. It processes elements in the collection, applying the function cumulatively to combine them into a single value. For example, reducing [1, with addition and initial 0 results in 10. It folds a collection into one result.

enumerate (common in languages like Python): This returns pairs of (index, element) when iterating over a collection. It is useful when you need both the position and value during iteration.

In [2]:
  #applying  map() function

def double(n):
    return 2*n
number = [1,2,3,4,5,6]
doubled = list(map(double,number))
print(doubled)

[2, 4, 6, 8, 10, 12]

In [ ]:
#filter functions
def is_even(x):
    return x%2 == 0 
num1=[1,2,3,45,6]
numbers = list(filter(is_even,num1))
print(numbers)

[2, 6]

In [10]:
#reduce function
from functools import reduce
def multiply(x,y):
    return x*y 
num1=[1,2,3,4,5]
numbers = reduce(multiply,num1)
print(numbers)

120

In [14]:
#zip function
names = ["kainat","nabeel","bilawal","yasir"]
ages = [23,45,56,24]
combine = dict(zip(names,ages))
print(combine)
combine = list(zip(names,ages))
print(combine)
combine = tuple(zip(names,ages))
print(combine)

{'kainat': 23, 'nabeel': 45, 'bilawal': 56, 'yasir': 24}
[('kainat', 23), ('nabeel', 45), ('bilawal', 56), ('yasir', 24)]
(('kainat', 23), ('nabeel', 45), ('bilawal', 56), ('yasir', 24))

In [ ]:
#enumerate can change the index 
fruits = ["Apple" ,"Banana" ,"Orange"]
for index , fruit in enumerate(fruits,start = 2):
    print(f"{index}: {fruit}")

2: Apple
3: Banana
4: Orange

In [ ]:
# is compare the memory location if it give true that means they have same memory location
a=[1,2,3]
b=a
c=[1,2,3]
print(b is a)#give true
print(a is c)# give false because memory location is different

True
False

In [26]:
# == it just compare the values of two objects
a=[1,2,3]
b=a
c=[1,2,3]
print(b == a)#give true
print(a == c)#give true

True
True

In [ ]:
a=1000
b= 1000
print(a is b)#python caches vales till 256 so they have same memory location
a=256
b= 256
print(a is b)
a=257
b= 257
print(a is b)
a=10
b= 10
print(a is b)

False
True
False
True

In [ ]:
#file i/o
#ram random accesss memory is volatile
#a = "a very long stringg with emaoil
# email = []
# 3 second"

In [3]:
def ispalidrome(s):
    return s == s[::-1]
s = "dad"
print(ispalidrome(s))

True

F
i
b
(
2
)
=
1
Fib(2)=1

F
i
b
(
3
)
=
F
i
b
(
2
)
+
F
i
b
(
1
)
=
1
+
0
=
1
Fib(3)=Fib(2)+Fib(1)=1+0=1

F
i
b
(
4
)
=
F
i
b
(
3
)
+
F
i
b
(
2
)
=
1
+
1
=
2
Fib(4)=Fib(3)+Fib(2)=1+1=2

F
i
b
(
5
)
=
F
i
b
(
4
)
+
F
i
b
(
3
)
=
2
+
1
=
3
Fib(5)=Fib(4)+Fib(3)=2+1=3

F
i
b
(
6
)
=
F
i
b
(
5
)
+
F
i
b
(
4
)
=
3
+
2
=
5
Fib(6)=Fib(5)+Fib(4)=3+2=5

F
i
b
(
7
)
=
F
i
b
(
6
)
+
F
i
b
(
5
)
=
5
+
3
=
8
Fib(7)=Fib(6)+Fib(5)=5+3=8

In [8]:
#fabronic series
def fabronic(n):
    if n<=0:
        return 0
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fabronic(n-1)+fabronic(n-2)
        
   
c = int(input("enter a number"))
print(fabronic(c))

5

In [ ]:
#fabrinic seriees using iterations
a , b= 0,1
n= int(input("enter a number"))
print(a, b, end=" ")#in starting we give two numbers 0 and 1
for c in range(n-1):
    c = a + b
    print(c, end=" ")
    a, b = b, c#it will give the value of b to a and c to b

#dry run""
# "in the first iteration
# a=0 ,b=1
# a=b   mean a=1
# b=c mean b=a+b=1
#  2nd iteration
# c = 1+1=2

# a=1
# b=2
#  c = 3"

0 1 1 2 3

In [11]:
phone_book = {
    'John': [8592970000, 'john@xyzmail.com'],#it is a list with in adictionary
    'Bob': [456738302, 'bob@xyzmail.com'],
    'Tom': [974955264, 'tom@xyzmail.com']
}
for k, v in phone_book.items():#it will take the key value pairs
    print(k, ":", v)

John : [8592970000, 'john@xyzmail.com']
Bob : [456738302, 'bob@xyzmail.com']
Tom : [974955264, 'tom@xyzmail.com']

In [ ]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
number_list = [x for x in number_list if x <= 50] # here we take x in the list 
print(number_list)  # Output: [10, 20, 30, 40, 50]

[10, 20, 30, 40, 50]

In [18]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in number_list:
    if i<=50:
        print(i)

10
20
30
40
50

In [ ]:
#Reverse dictionary mapping
ascci_dict = {"a": 65,
              "b": 68,
              "c":69,
              "d":34}
reversed_dic = {v:k for k,v in ascci_dict.items()}#this will place values first and keys onward
print(reversed_dic)

{65: 'a', 68: 'b', 69: 'c', 34: 'd'}

In [ ]:
import collections#import collectionsWe import the collections module here to use its Counter class, which is a convenient way to count occurrences of elements in a list or any iterable.


sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
duplicates = [item for item, count in collections.Counter(sample_list).items() if count > 1]#creates a dictionary-like object where keys are items from the list, and values are their counts.]#collections.Counter(sample_list) creates a dictionary-like object where keys are items from the list, and values are their counts.
print(duplicates)  # Output: [20, 60, 30]

[20, 60, 30]

In [31]:
d = {'a':3,
     'b':4,
     'c':5,
     'd':6}
keys = {'a','b','c'}
give_list = {k:d[k] for k in keys if k in d}
print(give_list)

{'a': 3, 'b': 4, 'c': 5}

In [ ]:
list = [1,2,3,4,55]